.btn {
  width: 5em;
  height: 5em;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
}

p {
  font-size: 1.9em;
}

#btn_org {
    background-color: #f4913e;
}