.btn {
  width: 5em;
  height: 5em;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid #858693;
}

.wide {
  width: 10em;
  height: 5em;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid #858693;
}

.org {
  width: 5em;
  height: 5em;
  background-color: #f4913e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid #858693;
}

p {
  font-size: 1.9em;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 12.5vw;
  }

  .wide {
    width: 25vw;
  }

  .org {
    width: 12.5vw;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    width: 25vw;
  }

  .wide {
    width: 50vw;
  }

  .org {
    width: 25vw;
  }
}
