.screen {
  width: 20em;
  height: 3.4em;
  background-color: #858693;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 0.5em;
  box-sizing: border-box;
}

.justify-space {
  justify-content: space-between;
}

.display {
  color: #fcfeff;
  font-size: 2.5em;
}

.memory {
  color: #fcfeff;
  font-size: 1em;
  padding-left: 0.5em;
}
